
RewriteOptions inherit
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
RewriteCond %{HTTP_HOST} ^collaboratis\.optievent\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.collaboratis\.optievent\.com$
RewriteRule ^/?$ "http\:\/\/collaboratis\.com" [R=301,L]
RewriteCond %{HTTP_HOST} ^demo\-collaboratis\.optievent\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.demo\-collaboratis\.optievent\.com$
RewriteRule ^/?$ "https\:\/\/demo\-collaboratis\.optievent\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^illimitis\.collaboratis\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.illimitis\.collaboratis\.com$
RewriteRule ^/?$ "https\:\/\/illimitis\.collaboratis\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^acame\-demo\.collaboratis\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.acame\-demo\.collaboratis\.com$
RewriteRule ^/?$ "https\:\/\/acame\-demo\.collaboratis\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^newversioncollaboratis\.collaboratis\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.newversioncollaboratis\.collaboratis\.com$
RewriteRule ^/?$ "https\:\/\/newversioncollaboratis\.collaboratis\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^feedback\.collaboratis\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.feedback\.collaboratis\.com$
RewriteRule ^/?$ "https\:\/\/feedback\.collaboratis\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^dev\.collaboratis\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.dev\.collaboratis\.com$
RewriteRule ^/?$ "https\:\/\/dev\.collaboratis\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^dev\.byfeeding\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.dev\.byfeeding\.com$
RewriteRule ^/?$ "https\:\/\/dev\.byfeeding\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^demo\.byfeeding\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.demo\.byfeeding\.com$
RewriteRule ^/?$ "https\:\/\/demo\.byfeeding\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^bospse\-2022\.byfeeding\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bospse\-2022\.byfeeding\.com$
RewriteRule ^/?$ "https\:\/\/bospse\-2022\.byfeeding\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^app\.byfeeding\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.app\.byfeeding\.com$
RewriteRule ^/?$ "https\:\/\/app\.byfeeding\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^devbyfeeding\.byfeeding\.com$
RewriteRule ^/?$ "http\:\/\/devbyfeeding\.byfeeding\.com\/connexion" [R=301,L]
RewriteCond %{HTTP_HOST} ^dev\-byfeeding\.optievent\.xyz$
RewriteRule ^/?$ "http\:\/\/dev\-byfeeding\.optievent\.xyz\/connexion" [R=301,L]
